<header>
    <div class="container">
        <a href="/index.html"><img src="images/Silicon Logotype - Light Mode.svg" id="logo" alt="logo"></a>
        <div id="menu">
            <nav>
                <a class="menu-link" href="/overview" target="_self">Overview</a>
                <a class="menu-link" href="/features" target="_self">Features</a>
                <a class="menu-link" href="/contact" target="_self">Contact</a>
            </nav>
        </div>

        <div class="btn-switch">
            <label>Light</label>
            <div class="switch round">
                <input type="checkbox" id="toggle">
                <label class="slider round" for="toggle"></label>
            </div>
            <label>Dark</label>
        </div>

        <div class="account-buttons">

            <a class="menu-link btn-gray" href="/signin.html" target="_self"><i class="fa-solid fa-arrow-down-to-square fa-rotate-270"></i>Sign in</a>

            <a class="menu-link btn-theme" href="/signup.html" target="_self"><i class="fa-regular fa-user"></i>Sign up</a>

        </div>

    </div>

</header>

<section id="showcase">

    <div class="container custom-container">
        <div class="box1">
            <div class="title d4">Task Management Assistant You Gonna Love</div>
            <p class="text-lg">We offer you a new generation of task management system. Plan, manage & track all your tasks in one flexible tool.</p>
            <a class="menu-link btn-theme-s" href="/signin" target="_self">Get started for free</a>
        </div>

        <div class="box2">
            <img class="img" src="~/images/image-section1.svg">
        </div>
    </div>

</section>

<section id="tools-section">

    <div class="container">

        <div class="title">

            <h1>What Do You Get with Our Tool?</h1>
            <p class="text-lg">Make sure all your tasks are organized so you can set the priorities and focus on important.</p>

        </div>

        <div class="tools">

            <div class="comments">
                <i class="fa-regular fa-comments"></i>
                <h5>Comments on Tasks</h5>
                <p class="text-m">Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>

            <div class="analytics">
                <i class="fa-regular fa-display-chart-up"></i>
                <h5>Tasks Analytics</h5>
                <p class="text-m">Non imperdiet facilisis nulla tellus Morbi scelerisque eget adipiscing vulputate.</p>
            </div>

            <div class="assignees">
                <i class="fa-regular fa-user-group"></i>
                <h5>Multiple Assignees</h5>
                <p class="text-m">A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </div>

            <div class="notifications">
                <i class="fa-regular fa-bell"></i>
                <h5>Notifications</h5>
                <p class="text-m">Diam, suspendisse velit cras ac. Lobortis diam volutpat, eget pellentesque viverra.</p>
            </div>

            <div class="subtasks">
                <i class="fa-regular fa-clipboard-list-check"></i>
                <h5>Sections & Subtasks</h5>
                <p class="text-m">Mi feugiat hac id in. Sit elit placerat lacus nibh lorem ridiculus lectus.</p>
            </div>

            <div class="security">
                <i class="fa-solid fa-shield-halved"></i>
                <h5>Data Security</h5>
                <p class="text-m">Aliquam malesuada neque eget elit nulla vestibulum nunc cras.</p>
            </div>

        </div>

    </div>
</section>

<section id="light-and-dark">

    <div class="background">

        <div class="content">

            <h1><span class="white">Switch Between</span><span class="black">Light & Dark Mode</span></h1>

            <img src="~/images/MacBook Pro-dark.svg" alt="macbook">

        </div>

    </div>

</section>

<section id="manage-your-work">

    <div class="container">

        <img src="~/images/image-manage-work.svg" alt="dashboard and tasks">

        <div class="manage-work">

            <h2>Manage Your Work</h2>

            <ul class="list">

                <li>
                    <i class="fa-regular fa-circle-check"></i>
                    <p class="text-m">Powerful project management</p>
                </li>

                <li>
                    <i class="fa-regular fa-circle-check"></i>
                    <p class="text-m">Powerful project management</p>
                </li>

                <li>
                    <i class="fa-regular fa-circle-check"></i>
                    <p class="text-m">Transparent work management</p>
                </li>

                <li>
                    <i class="fa-regular fa-circle-check"></i>
                    <p class="text-m">Manage work & focus on the most important tasks</p>
                </li>

                <li>
                    <i class="fa-regular fa-circle-check"></i>
                    <p class="text-m">Track your progress with interactive charts</p>
                </li>

                <li>
                    <i class="fa-regular fa-circle-check"></i>
                    <p class="text-m">Easiest way to track time spent on tasks</p>
                </li>

            </ul>

            <div class="button">
                <a class="menu-link btn-theme-s" href="/managework" target="_self">Learn more<i class="fa-solid fa-arrow-right"></i></a>
            </div>

        </div>

    </div>

</section>

<section id="subscribe-section">

    <div class="container">

        <form method="post" asp-action="Subscribe" asp-controller="" novalidate>

            <div class="title">
                <h1>Don't Want to Miss Anything?</h1><img src="~/images/Group.svg">
            </div>

            <div class="content-top">

                <h5>Sign up for <br> Newsletters</h5>

                <div class="input-group">

                    <div id="newsletter">
                        <input type="checkbox" id="newsletter" name="newsletter" value="daily-newsletter" />
                        <label for="newsletter">Daily Newsletter</label>
                    </div>

                    <div id="event">
                        <input type="checkbox" id="event" name="event" value="event-updates" />
                        <label for="event">Event Updates</label>
                    </div>

                    <div id="advertising">
                        <input type="checkbox" id="advertising" name="advertising" value="advertising-updates" />
                        <label for="advertising">Advertising Updates</label>
                    </div>

                    <div id="weekly">
                        <input type="checkbox" id="weekly" name="weekly" value="startups-weekly" />
                        <label for="weekly">Startups Weekly</label>
                    </div>

                    <div id="week-review">
                        <input type="checkbox" id="week-review" name="week-review" value="week-in-review" />
                        <label for="week-review">Week in Review</label>
                    </div>

                    <div id="podcasts">
                        <input type="checkbox" id="podcasts" name="podcasts" value="podcasts" />
                        <label for="podcasts">Podcasts</label>
                    </div>

                </div>

            </div>

            <div class="content-bot">
                <input type="email" placeholder="Your Email" id="subscribe" />
                <i class="fa-regular fa-envelope"></i>
                <button type="submit" class="menu-link btn-theme-s">Subscribe *</button>
            </div>

            <p class="text-s"><span>* </span>Yes, I agree to the <a href="terms-and-conditions">terms</a> and <a href="terms-and-conditions">privacy policy.</a></p>

        </form>

    </div>

</section>

<footer>

    <div class="container">

        <div class="social-media">

            <a class="btn-social" href="www.facebook.com"><i class="fa-brands fa-square-facebook"></i></a>
            <a class="btn-social" href="www.twitter.com"><i class="fa-brands fa-square-twitter"></i></a>
            <a class="btn-social" href="www.instagram.com"><i class="fa-brands fa-square-instagram"></i></a>
            <a class="btn-social" href="www.youtube.com"><i class="fa-brands fa-youtube"></i></a>

        </div>

        <p class="text-s">&copy; 2024 Silicon. All rights reserved. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>

    </div>

</footer>
