@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
html, body {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
}

.text-xs {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 12px !important;
}

.text-s {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 14px !important;
}

.text-m {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px !important;
}

.text-lg {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 18px !important;
}

.text-xl {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 20px !important;
}

.text-lead {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 24px !important;
}

.d1 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 80px !important;
}

.d2 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 72px !important;
}

.d3 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 64px !important;
}

.d4 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 56px !important;
}

.d5 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 48px !important;
}

.d6 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 42px !important;
}

h1, .h1 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 40px !important;
}

h2, .h2 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 32px !important;
}

h3, .h3 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 28px !important;
}

h4, .h4 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 24px !important;
}

h5, .h5 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 20px !important;
}

h6, .h6 {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0B0F19;
  font-size: 16px !important;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

a {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  color: #6366F1;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}
a:hover {
  text-decoration: underline;
}

.menu-link {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: #33354D;
  font-weight: 600 !important;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
}
.menu-link:hover, .menu-link:active, .menu-link:focus,
.menu-link .active {
  color: #6366F1;
  text-decoration: none;
}

.btn-theme {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transition: background-color 0.6s ease;
  background: #6366F1;
  color: #FFFFFF;
  border: none;
}
.btn-theme:hover {
  transition: background-color 0.6s ease;
}
.btn-theme:hover {
  text-decoration: none;
  background: #565973;
  color: #FFFFFF;
}

.btn-theme-s {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transition: background-color 0.6s ease;
  box-shadow: 0px 8px 18px -8px rgba(99, 102, 241, 0.9);
  background: #6366F1;
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 13px;
}
.btn-theme-s:hover {
  transition: background-color 0.6s ease;
}
.btn-theme-s:hover {
  box-shadow: 0px 8px 18px -8px rgba(19, 16, 34, 0.15);
  text-decoration: none;
  background: #565973;
  color: #FFFFFF;
}

.btn-gray {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transition: background-color 0.6s ease;
  background: #EFF2FC;
  color: #33354D;
  border: none;
}
.btn-gray:hover {
  transition: background-color 0.6s ease;
}
.btn-gray:hover {
  text-decoration: none;
  background: #565973;
  color: #FFFFFF;
}

.btn-switch {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn-switch label {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: #33354D;
  font-weight: 600 !important;
  color: #565973;
}
.btn-switch .switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 25px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 20px;
  box-shadow: -1px 7px 18px -2px #B4B7C9;
}
.btn-switch .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.btn-switch .switch input:checked + .slider {
  background-color: #6366F1;
}
.btn-switch .switch input:focus + .slider {
  box-shadow: 0 0 1px #6366F1;
}
.btn-switch .switch input:checked + .slider:before {
  transform: translateX(20px);
  background-color: #FFFFFF;
}
.btn-switch .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #565973;
  transition: 0.4s;
}
.btn-switch .switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2.7px;
  background-color: #FFFFFF;
  transition: 0.4s;
}
.btn-switch .switch .slider.round {
  border-radius: 34px;
}
.btn-switch .switch .slider.round:before {
  border-radius: 50%;
}

.btn-social {
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 44px;
  height: 44px;
  background-color: #EFF2FC;
  color: #33354D;
}
.btn-social:hover {
  text-decoration: none;
  background: #565973;
  color: #FFFFFF;
}

header {
  padding: 15px 0;
}
header .container {
  display: grid;
  align-items: center;
  gap: 40px;
}
@media (min-width: 992px) {
  header .container {
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo menu switch buttons";
  }
}
header .container #logo {
  grid-area: logo;
}
header .container #menu {
  grid-area: menu;
}
@media (min-width: 992px) {
  header .container #menu {
    display: block;
  }
}
header .container #menu nav {
  display: flex;
  gap: 15px;
}
header .container .btn-switch {
  grid-area: switch;
}
@media (min-width: 992px) {
  header .container .btn-switch {
    display: block;
  }
}
header .container .account-buttons {
  grid-area: buttons;
  gap: 15px;
}
header .container .account-buttons img {
  width: 20px;
  height: 20px;
}
@media (min-width: 992px) {
  header .container .account-buttons {
    display: flex;
  }
}
header .container .btn-mobile {
  grid-area: mobile;
}
@media (min-width: 992px) {
  header .container .btn-mobile {
    display: none;
  }
}

footer {
  padding: 50px 0 30px 0;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-size: 16px !important;
  color: #9397AD;
}
footer .container {
  text-align: center;
}
footer .container .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}
footer .container p {
  color: #9397AD;
}

form input, form textarea {
  border: solid 2px rgba(0, 0, 0, 0.115);
  border-radius: 10px !important;
  padding: 10px;
}
form input[type=checkbox] {
  width: 15px;
  height: 15px;
}
form button {
  border: none;
}
form input::-moz-placeholder, form textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.169);
}
form input::placeholder, form textarea::placeholder {
  color: rgba(0, 0, 0, 0.169);
}
form a {
  color: #6366F1;
}

#signin-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
}
#signin-section .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#signin-section .container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 35%;
}
#signin-section .container form .form-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#signin-section .container form .form-content .input-group {
  display: flex;
  flex-direction: column;
}
#signin-section .container form .form-content .input-group label {
  color: #0B0F19;
}
#signin-section .container form .form-content span {
  color: rgba(153, 0, 0, 0.8);
  font-size: 16px;
  font-weight: 500;
}
#signin-section .container form .form-content .semi-bold {
  font-weight: 600;
}
#signin-section .container form .form-content .link-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#signin-section .container form .form-content .link-container a {
  font-weight: 600;
}