@model SignUpViewModel


@{
    ViewData["Title"] = Model.Title;
}

@section Styles {
    <link rel="stylesheet" href="~/css/signup.css" asp-append-version="true" />
}

<body class="wrapper">

    <header>
        <div class="container">
            <a a asp-controller="Default" asp-action="Home"><img src="~/images/Silicon Logotype - Light Mode.svg" id="logo" alt="logo"></a>
            <div id="menu">
                <nav>
                    <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="overview">Overview</a>
                    <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="features">Features</a>
                    <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="contact">Contact</a>
                </nav>
            </div>

            <div class="btn-switch">
                <label>Light</label>
                <div class="switch round">
                    <input type="checkbox" id="toggle">
                    <label class="slider round" for="toggle"></label>
                </div>
                <label>Dark</label>
            </div>

            <div class="account-buttons">

                <a class="menu-link btn-gray" asp-controller="Auth" asp-action="SignIn"><i class="fa-solid fa-arrow-down-to-square fa-rotate-270"></i>Sign in</a>

                <a class="menu-link btn-theme" asp-controller="Auth" asp-action="SignUp"><i class="fa-regular fa-user"></i>Sign up</a>

            </div>

        </div>

    </header>

    <section id="signup-section">

        <div class="container">

            <form method="post" asp-controller="Auth" asp-action="SignUp" novalidate>

                <div class="title">

                    <h1>Create Account</h1>
                    <p class="text-m">Already have an account?<a asp-controller="Auth" asp-action="SignIn"> Sign in here.</a></p>

                </div>

                <div class="form-content">

                    <span>@Model.ErrorMessage</span>
                    <div class="top-group">

                        <div class="input-group semi-bold">
                            <label asp-for=FirstName></label>
                            <input asp-for="FirstName" placeholder="Enter your first name" />
                            <span asp-validation-for="FirstName"></span>
                        </div>

                        <div class="input-group semi-bold">
                            <label asp-for=LastName></label>
                            <input asp-for="LastName" placeholder="Enter your last name" />
                            <span asp-validation-for="LastName"></span>
                        </div>

                    </div>

                    <div class="input-group semi-bold">
                        <label asp-for=Email></label>
                        <input asp-for="Email" placeholder="Enter your email address" />
                        <span asp-validation-for="Email"></span>
                    </div>

                    <div class="input-group semi-bold">
                        <label asp-for=Password></label>
                        <input asp-for="Password" placeholder="********" />
                        <span asp-validation-for="Password"></span>
                    </div>

                    <div class="input-group semi-bold">
                        <label asp-for=ConfirmPassword></label>
                        <input asp-for="ConfirmPassword" placeholder="********" />
                        <span asp-validation-for="ConfirmPassword"></span>
                    </div>

                    <div>
                        <input asp-for="TermsAndConditions" />
                        <label asp-for="TermsAndConditions">I agree to the <a href="terms-and-conditions">Terms</a> & <a href="terms-and-conditions">Conditions</a>.</label>
                        <span class="terms" asp-validation-for="TermsAndConditions"></span>
                    </div>

                    <button type="submit" class="menu-link btn-theme-s">@Model.Title</button>

                </div>

            </form>

        </div>

    </section>

    <footer>

        <div class="container">

            <p class="text-s">&copy; 2024 Silicon. All rights reserved. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>

        </div>

    </footer>

</body>